/* CSS declarations go here */
body {
  background: cornflowerblue;
  color: grey;
  font-family: helvetica;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.thumbs_up {
  cursor:pointer;
  border: none;
}

.thumbs_down {
  cursor:pointer;
  border: none;
}

h1 {
  margin: -5px;
}
